/* 
*****FOR LIST.HTML AND ****FOR RECIPE.HTML
STEP1: body should remove all margin and padding
STEP2: main should set the padding to 16 pixels
STEP 3:footer should set the top and bottom padding to 24 pixels
        and the left and right padding to 0 pixels
STEP 4:img should have a height of 200 pixels
STEP 5nav should have a black, 1pixel bottom border and padding 
        all the way around of 16 pixels
*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');

.font-family {
    font-family: 'Cormorant Garamond', serif;
}

.has-green-background {
    background-color: green;
}

.taco-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}

.is-orange {
    color: orange;
}


.text-align-center {
    text-align: center;
}

.bolded { 
    font-weight: bold; 
}

.yellow-text-shadow {
    text-shadow: hsl(65, 100%, 60%) 2px 2px;
}

img.rounded-and-shadows {
    border-radius: 75px;
    box-shadow: hsl(65, 100%, 60%) 5px 5px;
}
/* this is for the table in the detail page.
need to use a class which is a ".something"*/
/* tr to let it know to look for the tr to count*/
.shaded-even tr:nth-child(even) {
    background-color: lightgray;
}

/* need a:visited in front of the a in nav due to conflict*/
a:visited {
    color:darkolivegreen
}

.the-a-in-nav a{

    color: white;
}



a {
    text-decoration: none;
    color:darkgreen

}

h1 {
    color:rgb(47, 79, 66)
}


body {
    margin: 0;
    padding: 0;
}



main {
    padding: 16px;
}

footer{
    padding: 2em;
    position: static;
    bottom: 0;
    background-color: #B4CF66;

}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: #FF5A33;
}

th2 {
    padding: 30px;
}




